## Dataset By using hugging face

In [2]:
import pandas as pd

df = pd.read_csv("hf://datasets/jacob-hugging-face/job-descriptions/training_data.csv")

In [3]:
df.head()

,company_name,job_description,position_title,description_length,model_response
0,Google,minimum qualifications\nbachelors degree or eq...,Sales Specialist,2727,"{\n ""Core Responsibilities"": ""Responsible fo..."
1,Apple,description\nas an asc you will be highly infl...,Apple Solutions Consultant,828,"{\n ""Core Responsibilities"": ""as an asc you ..."
2,Netflix,its an amazing time to be joining netflix as w...,Licensing Coordinator - Consumer Products,3205,"{\n ""Core Responsibilities"": ""Help drive bus..."
3,Robert Half,description\n\nweb designers looking to expand...,Web Designer,2489,"{\n ""Core Responsibilities"": ""Designing webs..."
4,TrackFive,at trackfive weve got big goals were on a miss...,Web Developer,3167,"{\n ""Core Responsibilities"": ""Build and layo..."

In [5]:
df.drop(columns = ["company_name",'description_length','model_response'],inplace = True)

In [6]:
df.head(5)

,job_description,position_title
0,minimum qualifications\nbachelors degree or eq...,Sales Specialist
1,description\nas an asc you will be highly infl...,Apple Solutions Consultant
2,its an amazing time to be joining netflix as w...,Licensing Coordinator - Consumer Products
3,description\n\nweb designers looking to expand...,Web Designer
4,at trackfive weve got big goals were on a miss...,Web Developer

In [7]:
df.to_csv("job_titles_des_1.csv" ,index = False)

## Another dataset by using hugging face

In [11]:
df1 = pd.read_csv("hf://datasets/rohankrishna99/job-descriptions-dataset-mini/jd_training_dataset_0.csv")

In [12]:
df1.head()

,Title,JobDescription,JobRequirment,RequiredQual,IT
0,Chief Financial Officer,AMERIA Investment Consulting Company is seekin...,- Supervises financial management and administ...,"To perform this job successfully, an\r\nindivi...",False
1,Full-time Community Connections Intern (paid i...,NaN,NaN,- Bachelor's Degree; Master's is preferred;\r\...,False
2,Country Coordinator,Public outreach and strengthening of a growing...,- Working with the Country Director to provide...,"- Degree in environmentally related field, or ...",False
3,BCC Specialist,The LEAD (Local Enhancement and Development fo...,- Identify gaps in knowledge and overseeing in...,"- Advanced degree in public health, social sci...",False
4,Software Developer,NaN,- Rendering technical assistance to Database M...,- University degree; economical background is ...,True

In [13]:
df1.to_csv("job_titles_des_2.csv" ,index = False)

## Another dataset by using hugging face

In [14]:
df2 = pd.read_csv("hf://datasets/Ronysalem/job_description_sample/job_description_sample.csv")

In [15]:
df2.head()

,Unnamed: 0,instruction,completion
0,0,Generate a job description for a Software Engi...,"Software Engineer responsible for designing, d..."
1,1,Generate a job description for a Marketing Man...,Marketing Manager responsible for leading the ...
2,2,Generate a job description for a Data Analyst ...,"Data Analyst responsible for collecting, analy..."
3,3,Generate a job description for a Human Resourc...,Human Resources Specialist responsible for sup...
4,4,Generate a job description for a Project Manag...,Project Manager responsible for overseeing and...

In [16]:
df2.to_csv("job_titles_des_3.csv" ,index = False)

## dataset by using hugging face in JSON format

In [17]:
df3 = pd.read_json("hf://datasets/harinathreddy0035/resume_job-descriptions/data.json")

In [18]:
df3.head()

,job_description,resume
0,"{'job_title': 'Data Scientist', 'company': 'Te...","{'contact_information': {'name': 'Jane Doe', '..."
1,"{'job_title': 'Machine Learning Engineer', 'co...","{'contact_information': {'name': 'John Smith',..."
2,"{'job_title': 'Data Engineer', 'company': 'Dat...",{'contact_information': {'name': 'Alice Johnso...
3,"{'job_title': 'Data Scientist', 'company': 'Ho...","{'contact_information': {'name': 'Sara Lee', '..."
4,"{'job_title': 'Data Analyst', 'company': 'Mark...","{'contact_information': {'name': 'Tom Adams', ..."

In [19]:
df3.to_csv("job_titles_des_4_json.csv" ,index = False)

## dataset by using hugging face

In [20]:
df4 = pd.read_csv("hf://datasets/nakamoto-yama/job-descriptions-public/selected_job_descriptions.csv")

In [21]:
df4.head()

,id,Job,Description
0,18583,Sr. Software Engineer - NCR Corporation | Buil...,About NCR VOYIX NCR VOYIX Corporation (NYSE: V...
1,14662,Senior Data Engineer - Quantexa | Built In,Description What we’re all about. It isn’t oft...
2,15560,Senior Software Engineer (Fullstack) - Zeal | ...,WHO WE ARE We enable growing platforms to buil...
3,102,Finance Business Analyst - Apex Fintech Soluti...,WHO WE ARE Apex Fintech Solutions (AFS) powers...
4,830,Sales Data Analyst - Madhive | Built In,Madhive is the leading tech company engineered...

In [22]:
df4.to_csv("job_titles_des_5.csv" ,index = False)